

:root {
	--color-offwhite: #f4f4f4;

	--color-main-light: #a5ccd9;
    --color-main-medium: #7e7eac;
    --color-main-dark: #4b4b80;
}
body {
	background-color: var(--color-white);
	padding-bottom:4em ;
}


.favorite label{
	transition: all 0.3s;
	display: inline-block;
	color: var(--color-light-purple);
	transform: scale(1,1);
}

.favorite input:checked + label {
	color: lightpink;
}