

:root {
	--color-offwhite: #f4f4f4;

	--color-main-light: #a5ccd9;
    --color-main-medium: #7e7eac;
    --color-main-dark: #4b4b80;
}
body {
	background-color: #e6eaef;
	padding-bottom:4em ;
}


.favorite label{
	transition: all 0.3s;
	display: inline-block;
	color: var(--color-light-purple);
	transform: scale(1,1);
}

.favorite input:checked + label {
	color: lightpink;
}

@media (max-width: 800px) {
	.container{
		padding-left:1em ;
		padding-right: 1em;
	}
	.navbar h1 {
		padding: 1em;
	}
	}
	@media (max-width: 400px) {
	.navbar .display-flex {
		display: block;
	}
	.navbar .nav li {
		line-height: 2em;
	}

}

.figure.product {
	border-radius: 0.5em;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}







