/*reset.css*/

*, *::after, *::before {
	box-sizing: border-box;
}

:root {
	--color-neutral-light:#eee;
	--color-neutral-medium:#999;
	--color-neutral-dark:#555;
}

	body {
	margin: 0;
	font-size: 100%;
	font-family: var(--font-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-sans);
}

a {
	color: inherit;
	font-weight:bold;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}
/*form element reset*/